

table {
	border: 5px solid darkgreen;
	}
	td:hover {
		background-color: pink;
		color: black;
	}
	tr, th {
		background-color: navy;
		color: white;
	}
	tr, td {
		background-color: lightblue;
		color: whilte;
	}
	