#home {
    background-color: blue;
    text-align: center;
    font-size:xx-large;
    color:#ebecd8;
    font-weight: 900;
}

#gallery {
    background-color:indianred;
}

#contact {
    background-color: #8fc8e2;
}

#video {
    background-color:gold;
}


.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #4ed677;
    padding: 2% 1% 2% 7%;
    width: 50%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2-x solid #090b0d;
    margin: 10px 1em;
    border-radius: 20px;
    background: #ebecd8;
    box-shadow: inset 0px 3px 0px rgba(5,5,5,0.15);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reservation input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(100, 65, 0, .8);
}

.reservation p{
    color: #13161b;
    width: 50%;
    margin: 0 auto;
}

